{
    "presets": [
        "@babel/env",
        "@babel/typescript"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "adapters": "./src/adapters",
                "domain": "./src/domain",
                "errors": "./src/errors",
                "infrastructure": "./src/infrastructure",
                "rabbit": "./src/rabbit",
                "repositories": "./src/repositories",
                "types": "./src/types",
                "webserver": "./src/webserver"
            }
        }],
        "@babel/proposal-class-properties",
        ["@babel/plugin-transform-runtime",
            {
              "regenerator": true
            }
          ]
    ]
}