{
    "presets": [
        "@babel/env",
        "@babel/typescript"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./dist"],
            "alias": {
                "adapters": "./dist/adapters",
                "domain": "./dist/domain",
                "errors": "./dist/errors",
                "infrastructure": "./dist/infrastructure",
                "rabbit": "./dist/rabbit",
                "repositories": "./dist/repositories",
                "types": "./dist/types",
                "webserver": "./dist/webserver"
            }
        }],
        "@babel/proposal-class-properties",
        ["@babel/plugin-transform-runtime",
            {
              "regenerator": true
            }
          ]
    ]
}